body {
    font-family: 'Splendid';
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-image: url(img/milo.jpg);
    background-size: cover;
}

#body2{
    font-family: 'Splendid';
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-image: url(img/milo-e-miguel-v0-pylw3tq5bxdb1.webp);
    background-size: cover;
}


/* Assim importamos uma fonte no css*/
@font-face{
    font-family: 'Splendid';
    src: url('fontes/SplendidB.ttf') format('truetype');
}


.tituloMenor{
    font-size: 20px;
    font-family: 'Splendid';
}

#titulo1{
    line-height: 30px;
    font-family: 'Splendid';
}

a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Splendid';
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.botao{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: rgb(8, 203, 80);
}

.botao:hover{
    text-shadow: 0 0 10px rgb(0, 255, 213);
    background-color: rgb(45, 116, 12);
    transform: translateY(-10px);
    box-shadow: 0 5px 10px 0 rgb(8, 203, 138);;
}


.filho{
    align-items: center;
}

.pai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(17, 246, 162, 0.447);
    box-shadow: 0 0 20px 10px  rgba(4, 165, 146, 0.808);  ;
}