
 /* Define uma altura fixa para a div do slide */
 .carousel-item {
    height: 100vh; /* Ajuste a altura conforme necessário */
}

/* Força a imagem a ocupar o espaço da div, mantendo a proporção */
.carousel-item img {
    object-fit: cover; /* Mantém a imagem proporcional, preenchendo a div */
}

/* Centraliza o conteúdo no meio do slide */
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.aa{
    height: 70px;
    width: 70px;
}

.aaa{
    border-radius: 5%;

    
}

.aaa:hover {
    transform: translateY(-200px);
    box-shadow: 0 20px 30px 0 rgb(0, 0, 0);

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 30px 0 rgba(123, 147, 188, 0.843);
}